# Astro exposes variables prefixed with PUBLIC_ to the client bundle.
PUBLIC_SITE_URL=https://feyzologistics.com
PUBLIC_GA_MEASUREMENT_ID=G-XXXXXXXXXX
PUBLIC_CONTACT_EMAIL=info@feyzologistics.com
PUBLIC_PHONE_NUMBER=+963967822812
PUBLIC_WHATSAPP_NUMBER=
PUBLIC_SOCIAL_X_URL=
PUBLIC_SOCIAL_FACEBOOK_URL=
PUBLIC_SOCIAL_INSTAGRAM_URL=
PUBLIC_SOCIAL_THREADS_URL=
